.emptyBtn {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: antiquewhite;
  border-radius: 6px;
  font-size: medium;
  font-weight: bold;
  margin-top: 20px;
}
.empty {
  margin-top: 20px;
  margin-left: 20px;
  font-size: medium;
  font-weight: bold;
}
